<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Sitecon.Project.Website" description="Sitecon.Project.Website" dependencies="Foundation.Serialization" extends="Helix.Project" />
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
